.DS_Store

_temps/*
!_temps/index.html
!_temps/.htaccess


assets/*
!assets/index.html
!assets/.htaccess
!assets/js
!assets/vendor

cache/*
!cache/index.html
!cache/.htaccess

farms/*
!farms/index.html
!farms/.htaccess